.teaser.card {
	width: 100%;
	margin: 0 auto;

	> .image {
		cursor: pointer;
		height: 350px;

		img {
			height: 100%;
			object-fit: cover;
		}
	}

	.sub.header {
		text-transform: none;
	}

	.content.has-header {
		position: absolute;

		.header {
			color: white;
			font-size: 2.5rem;
			text-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
		}
	}

	.description p {
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}

	.summary .ui.grid:not(.scroller) {
		margin-top: .5rem;
	}

	.scroller {
		margin-top: -.5rem;
		max-width: calc(100% + 15px);
		max-height: 110px;
		overflow: hidden;
		overflow-y: scroll;
	}

	.releaseDate {
		position: relative;
		top: -1rem;
	}

	.equal.width.grid > .column {
		text-align: center;
	}

	.companyIMG {
		max-width: 100%;
		max-height: 50%;
	}

	.ui.feed .column.cast {
		padding-top: 10px;
		padding-bottom: 10px;
		line-height: 1;
	}
}
